{% extends 'inc/base.html' %} 

{% load static %}

{% block title %} New questions {% endblock %} 

{% block extrahead %} 
    <link href="{% static 'css/questions.css' %}" rel="stylesheet" /> 
{% endblock %} 

{% block content %}

    <div class="page-name mt-2 row">
        <h1 class="col-auto">New Questions</h1>
    </div>
    
    {% for question in page_obj.object_list %}
        {% include 'inc/question_item.html' with classname='question' %}
    {% endfor %}

    {% include 'inc/paginator.html' %}

{% endblock %}
