<!doctype html>
<html lang="en" class="h-100">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>New Questions</title>

	<link href="../static/css/bootstrap.css" rel="stylesheet">
	<link href="../static/css/style.css" rel="stylesheet">
	<link href="../static/css/questions.css" rel="stylesheet">
</head>

<body class="d-flex flex-column h-100">
	<header>
		<nav class="navbar navbar-dark bg-dark fixed-top">
			<div class="container">
				<div
					class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 w-100">
					<a href="./index.html"
						class="d-flex align-items-center col-12 col-md-3 text-white text-decoration-none">
						<img src="../static/img/main.png" height="40px" alt="home" />
						<span class="ms-4 navbar-brand">Asking Ask</span>
					</a>

					<div class="col-12 col-md-3 text-end">
						<form class="d-flex" role="search">
							<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
							<button class="btn btn-outline-success" type="submit">Search</button>
						</form>
					</div>
					
						<div class="col-12 col-md-auto justify-content-center">
						<a href="./new_question.html"> <button class="btn btn-primary">ASK!!!</button></a>
					</div>
					<!-- 
						<ul class="nav col-12 col-md-auto justify-content-center">
						<li><a href="./login.html" class="nav-link px-2 text-white">LogIn</a></li>
						<li><a href="./register.html" class="nav-link px-2 text-white">Register</a></li>
					</ul>
					-->
					<div class="nav col-12 col-md-auto justify-content-center">
						<a href="./settings.html">
							<img src="../static/img/avatar.png" height="40px" alt="Profile Icon">
						</a>
					</div>

				</div>
			</div>
		</nav>
	</header>

	<main>
		<div class="container main-container">
			<div class="row">
				<div class="col-8">
					<div class="page-name mt-2 row">
						<h1 class="col-auto">New Questions</h1>
						<a class="col-auto mt-auto mb-2" href="#">Hot Questions</a>
					</div>
					<div class="question">
						<div class="row">
							<div class="col-2">
								<div class="avatar">
									<img src="../static/img/avatar-1.png" alt="avatar" />
								</div>
								<div>
									<input type="number" value="256" min="-1000000" max="1000000" step="1">
								</div>
							</div>
							<div class="col-10 question-block ps-5 pb-5">
								<h3><a href="./single_question.html">What is C++?</a></h3>
								<div>
									Hey guys, I want to learn C++!!!
									But I don't know what does it mean(((
								</div>
								<div class="row question-footer">
									<div class="col-auto">
										<a href="#">answer (5)</a>
									</div>
									<div class="col">
										Tags:
										<a class="mx-2" href="#">C++</a>
										<a href="#">C</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="question">
						<div class="row">
							<div class="col-2">
								<div class="avatar">
									<img src="../static/img/avatar-2.png" alt="avatar" />
								</div>
								<div>
									<input type="number" value="256" min="-1000000" max="1000000" step="1">
								</div>
							</div>
							<div class="col-10 question-block ps-5  pb-5">
								<h3><a href="./single_question.html">What is C++?</a></h3>
								<div>
									Hey guys, I want to learn C++!!!
									But I don't know what does it mean(((
								</div>
								<div class="row question-footer">
									<div class="col-auto">
										<a href="#">answer (5)</a>
									</div>
									<div class="col">
										Tags:
										<a class="mx-2" href="#">C++</a>
										<a href="#">C</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="question">
						<div class="row">
							<div class="col-2">
								<div class="avatar">
									<img src="../static/img/avatar-3.png" alt="avatar" />
								</div>
								<div>
									<input type="number" value="256" min="-1000000" max="1000000" step="1">
								</div>
							</div>
							<div class="col-10 question-block ps-5 pb-5">
								<h3><a href="./single_question.html">What is C++?</a></h3>
								<div>
									Hey guys, I want to learn C++!!!
									But I don't know what does it mean(((
								</div>
								<div class="row question-footer">
									<div class="col-auto">
										<a href="#">answer (5)</a>
									</div>
									<div class="col">
										Tags:
										<a class="mx-2" href="#">C++</a>
										<a href="#">C</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="question">
						<div class="row">
							<div class="col-2">
								<div class="avatar">
									<img src="../static/img/avatar-4.png" alt="avatar" />
								</div>
								<div>
									<input type="number" value="256" min="-1000000" max="1000000" step="1">
								</div>
							</div>
							<div class="col-10 question-block ps-5 pb-5">
								<h3><a href="./single_question.html">What is C++?</a></h3>
								<div>
									Hey guys, I want to learn C++!!!
									But I don't know what does it mean(((
									Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit tempora ad consectetur, quas distinctio cumque eum dolor
									consequatur iure ut sit vitae veritatis voluptatem nihil laudantium nobis esse ipsa veniam?
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia laborum rerum quidem molestiae. Eum odio omnis corrupti
									quia distinctio fuga totam dignissimos ipsum eveniet! Quia consequuntur id atque ex sunt.
									Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nostrum voluptatum dicta nisi, maiores beatae natus quas
									itaque temporibus! Vel a aperiam provident quia officia modi laudantium excepturi numquam dolor amet!
									Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, temporibus repellat? Beatae, unde explicabo facilis
									temporibus dolores quidem provident aliquam eaque libero, corrupti, animi quam eos atque earum expedita laboriosam?
								</div>
								<div class="row question-footer">
									<div class="col-auto">
										<a href="#">answer (5)</a>
									</div>
									<div class="col">
										Tags:
										<a class="mx-2" href="#">C++</a>
										<a href="#">C</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<nav class="mt-5" aria-label="Page navigation example">
						<ul class="pagination">
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Previous">
									<span aria-hidden="true">&laquo;</span>
								</a>
							</li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item">
								<a class="page-link" href="#" aria-label="Next">
									<span aria-hidden="true">&raquo;</span>
								</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="col-4">
					<div class="popular-tags mt-4 w-100">
						<h3>Popular Tags</h3>
						<div class="sidebar-tags">
							<a href="./question_by_tag.html" class="sidebar-tag mx-4">C++</a>
							<a href="./question_by_tag.html" class="sidebar-tag mx-4">C</a>
							<a href="./question_by_tag.html" class="sidebar-tag mx-4">Ruby</a>
							<a href="./question_by_tag.html" class="sidebar-tag mx-4">python</a>
							<a href="./question_by_tag.html" class="sidebar-tag mx-4">OpenGL</a>
						</div>
					</div>
					<div class="best-members mt-4 w-100">
						<h3>Best members</h3>
						<div class="ms-4"> <a href="#">Mihail</a> </div>
						<div class="ms-4"> <a href="#">Nikita</a></div>
						<div class="ms-4"> <a href="#">Andrew</a></div>
					</div>
				</div>
			</div>
	</main>

	<footer class="footer mt-auto py-3 bg-light">
		<div class="container">
			<span class="text-muted">Created by Mihail Latyshov</span>
		</div>
	</footer>
</body>

</html>