{% extends 'inc/base.html' %} 

{% load static %}

{% block title %} Login {% endblock %} 

{% block extrahead %} 
    <link href="{% static 'css/login-register.css' %}" rel="stylesheet">
{% endblock %} 

{% block content %}

    <div class="page-name mt-2 row">
        <h1 class="col-auto">Log In</h1>
    </div>
    <form class="auth-form">
        <div class="text-danger">
            Sorry, wrong password!
        </div>
        <div class="row mt-4">
            <div class="col-auto auth-form-lable">
                <label for="inputLogin" class="col-form-label">Login</label>
            </div>
            <div class="col">
                <input type="text" id="inputLogin" class="form-control" placeholder="Enter your loging here"/>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-auto auth-form-lable">
                <label for="inputPassword" class="col-form-label">Password</label>
            </div>
            <div class="col">
                <input type="password" id="inputPassword" class="form-control" placeholder="********" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-auto auth-form-lable">
            </div>
            <div class="col">
                <input type="submit" class="btn btn-primary" value="Log In!" />
                <div class="mt-4"><a href="{% url 'register' %}">Create new account</a></div>
            </div>
        </div>
    </form>
				
{% endblock %}
