{% extends 'inc/base.html' %} 

{% load static %}

{% block title %} Login {% endblock %} 

{% block extrahead %} 
    <link href="{% static 'css/login-register.css' %}" rel="stylesheet">
{% endblock %} 

{% block content %}

    <div class="page-name mt-2 row">
        <h1 class="col-auto">Log In</h1>
    </div>
    <form novalidate class="auth-form" action="/login" method="POST">
        {% csrf_token %}
        
        <div class="text-danger"> {{ form.non_field_errors }} </div>

        {% for field in form %}
        <div class="row mt-4">
            <div class="col-auto auth-form-lable">
                <label for="{{ field.id_for_label }}" class="col-form-label">{{ field.label }}</label>
            </div>
            <div class="col">
                {{ field }}
                <div class="text-danger"> {{ field.errors }} </div>
            </div>
        </div>
        {% endfor %}
        <input type='text' name='continue' value="{{ continue }}" hidden/>
        <div class="row mt-4">
            <div class="col-auto auth-form-lable">
            </div>
            <div class="col">
                <input type="submit" class="btn btn-primary" value="Log In!" />
                <div class="mt-4"><a href="{% url 'register' %}">Create new account</a></div>
            </div>
        </div>
    </form>
				
{% endblock %}
