{% extends 'inc/base.html' %} 

{% load static %}

{% block title %} New question {% endblock %} 

{% block extrahead %} 
    <link href="{% static 'css/new-question.css' %}" rel="stylesheet">
{% endblock %} 

{% block content %}

    <div class="page-name mt-2 row">
        <h1 class="col-auto">New Question</h1>
    </div>
    <form class="new-question-form">
        <div class="row">
            <div class="col-auto new-question-form-lable">
                <label for="inputTitle" class="col-form-label">Title</label>
            </div>
            <div class="col">
                <input type="text" id="inputTitle" class="form-control" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-auto new-question-form-lable">
                <label for="inputTextarea" class="col-form-label">Text</label>
            </div>
            <div class="col">
                <textarea id="inputTextarea" class="form-control" rows="8"></textarea>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-auto new-question-form-lable">
                <label for="inputTags" class="col-form-label">Tags</label>
            </div>
            <div class="col">
                <input type="text" id="inputTags" class="form-control" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-auto new-question-form-lable"> </div>
            <div class="col">
                <input type="submit" class="btn btn-primary" value="ASK!" />
            </div>
        </div>
    </form>

{% endblock %}
