{% extends 'inc/base.html' %} 

{% load static %}

{% block title %} {{ question.title }} {% endblock %} 
{% block extrahead %} 
    <link href="{% static 'css/questions.css' %}" rel="stylesheet" />
    <link href="{% static 'css/single-question.css' %}" rel="stylesheet">
{% endblock %} 

{% block content %}

    {% include 'inc/question_item.html' with classname='question-full' %}
    
    {% for answer in page_obj.object_list %}
        {% include 'inc/answer_item.html' %}
    {% endfor %}

    {% include 'inc/paginator.html' %}
   
    <div class="question-new-answer">
        <form novalidate action="/question/{{ question.id }}" method="POST">
            {% csrf_token %}
        
            <div class="text-danger"> {{ form.non_field_errors }} </div>

            {% for field in form %}
            <div class="row mt-4">
                <div class="col-auto new-question-form-lable">
                    <label for="{{ field.id_for_label }}" class="col-form-label">{{ field.label }}</label>
                </div>
                <div class="col">
                    {{ field }}
                    <div class="text-danger"> {{ field.errors }} </div>
                </div>
            </div>
            {% endfor %}

            <input type="submit" class="btn btn-primary mt-4" value="Answer" />
        </form>
    </div>

{% endblock %} 
