{% extends 'inc/base.html' %} 

{% load static %}

{% block title %} Login {% endblock %} 

{% block extrahead %} 
    <link href="{% static 'css/login-register.css' %}" rel="stylesheet">
{% endblock %} 

{% block content %}

    <div class="page-name mt-2 row">
        <h1 class="col-auto">Registration</h1>
    </div>
    <form class="auth-form">
        <div class="text-danger">
            Sorry, this email address allready registred!
        </div>
        <div class="row mt-4">
            <div class="col-auto auth-form-lable">
                <label for="inputLogin" class="col-form-label">Login</label>
            </div>
            <div class="col">
                <input type="text" id="inputLogin" class="form-control"
                    placeholder="Enter your loging here" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-auto auth-form-lable">
                <label for="inputEmail" class="col-form-label">Email</label>
            </div>
            <div class="col">
                <input type="email" id="inputEmail" class="form-control" placeholder="example@mail.ru" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-auto auth-form-lable">
                <label for="inputNickName" class="col-form-label">NickName</label>
            </div>
            <div class="col">
                <input type="text" id="inputNickName" class="form-control" placeholder="NickName" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-auto auth-form-lable">
                Upload avatar
            </div>
            <div class="col">
                <input class="form-control" type="file" id="formAvatarFile">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-auto auth-form-lable">
                <label for="inputPassword1" class="col-form-label">Password</label>
            </div>
            <div class="col">
                <input type="password" id="inputPassword1" class="form-control" placeholder="********" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-auto auth-form-lable">
                <label for="inputPassword2" class="col-form-label">Repeat password</label>
            </div>
            <div class="col">
                <input type="password" id="inputPassword2" class="form-control" placeholder="********" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-auto auth-form-lable">
            </div>
            <div class="col">
                <input type="submit" class="btn btn-primary" value="Register!" />
            </div>
        </div>
    </form>
    
{% endblock %}
