{% extends 'inc/base.html' %} 

{% load static %}

{% block title %} Settings: {{ profile.name }} {% endblock %} 

{% block extrahead %} 
    <link href="{% static 'css/settings.css' %}" rel="stylesheet">
{% endblock %} 

{% block content %}

    <div class="page-name mt-2 row">
        <h1 class="col-auto">Settings: {{ profile.user.username }} </h1>
    </div>
    <form class="settings-form">
        <div class="row">
            <div class="col-auto settings-form-lable">
                <label for="inputLogin" class="col-form-label">Login</label>
            </div>
            <div class="col">
                <input type="text" id="inputLogin" class="form-control" value="{{ profile.user.username }}" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-auto settings-form-lable">
                <label for="inputEmail" class="col-form-label">Email</label>
            </div>
            <div class="col">
                <input type="email" id="inputEmail" class="form-control" value="{{ profile.user.email }}" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-auto settings-form-lable">
                <label for="inputNickName" class="col-form-label">NickName</label>
            </div>
            <div class="col">
                <input type="text" id="inputNickName" class="form-control" value="{{ profile.user.first_name }}" />
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-auto settings-form-lable">
                Update avatar
            </div>
            <div class="col">
                <div class="avatar">
                    <img src="{% static profile.avatar %}" alt="avatar" />
                </div>
                <input class="form-control" type="file" id="formAvatarFile">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-auto settings-form-lable">
            </div>
            <div class="col">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
    </form>

{% endblock %}
