{% extends 'inc/base.html' %} 

{% load static %}

{% block title %} Settings {% endblock %} 

{% block extrahead %} 
    <link href="{% static 'css/settings.css' %}" rel="stylesheet">
{% endblock %} 

{% block content %}

    <div class="page-name mt-2 row">
        <h1 class="col-auto">Settings: {{ profile.user.username }} </h1>
    </div>
    <form novalidate class="settings-form" action="/settings" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="text-danger"> {{ form.non_field_errors }} </div>

        {% for field in form %}
        <div class="row mt-4">
            <div class="col-auto settings-form-lable">
                <label for="{{ field.id_for_label }}" class="col-form-label">{{ field.label }}</label>
            </div>
            <div class="col">
                {{ field }}
                <div class="text-danger"> {{ field.errors }} </div>
            </div>
        </div>
        {% endfor %}
        <div class="row mt-4">
            <div class="col-auto settings-form-lable">
            </div>
            <div class="col">
                <div class="avatar">
                    <img src="{{ request.user.profile.avatar.url }}" height="40px" alt="avatar" />
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-auto settings-form-lable">
            </div>
            <div class="col">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
    </form>

{% endblock %}
