{% load static %}

<div class="question">
    <div class="row">
        <div class="col-2">
            <div class="avatar">
                <img src="{{ answer.user.avatar.url }}" alt="" />
            </div>
            {% include 'inc/like_field.html' with item=answer itemtype="answer" %}
        </div>
        <div class="col-10 question-block ps-5 pb-5">
            <div>
                {{ answer.text }}
            </div>
            <div class="answer-footer mt-4">
                {{ answer.creation_datetime }} {# TODO REMOVE #} 
                {% if answer.correct %}
                <input class="form-check-input correct" type="checkbox" data-id="{{ answer.id }}" value="" id="checkCorrect1" checked />
                {% else %}
                <input class="form-check-input correct" type="checkbox" data-id="{{ answer.id }}" value="" id="checkCorrect1" />
                {% endif %}
                <label class="form-check-label" for="checkCorrect1">
                    Correect!
                </label>
            </div>
        </div>
    </div>
</div>