<!doctype html>

{% load static %}

<html lang="en" class="h-100">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% block title %} Asking Ask {% endblock %}</title>

	<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
	<link href="{% static 'css/style.css' %}" rel="stylesheet">
    {% block extrahead %}{% endblock %}
</head>

<body class="d-flex flex-column h-100">
    {% include 'inc/header.html' %}

	<main>
		<div class="container main-container">
			<div class="row">
				<div class="col-8">
                    {% block content %}{% endblock %}
				</div>
				<div class="col-4">
					<div class="popular-tags mt-4 w-100">
						<h3>Popular Tags</h3>
						<div>
                            {% for tag in tags %}
                                {% include 'inc/tag_item.html' %}
                            {% endfor %}
						</div>
					</div>
					<div class="best-members mt-4 w-100">
						<h3>Best members</h3>
						<div class="ms-4"> <a href="#">Mihail</a> </div>
						<div class="ms-4"> <a href="#">Nikita</a></div>
						<div class="ms-4"> <a href="#">Andrew</a></div>
					</div>
				</div>
			</div>
	</main>
    
    {% include 'inc/footer.html' %}

    <script> 
        var csrftoken = '{{ csrf_token }}' 
    </script>
    <script src="{% static 'js/jquery-3.6.2.js' %}"> </script>
    <script src="{% static 'js/likes.js' %}"> </script>
    <script src="{% static 'js/correct.js' %}"> </script>

</body>

</html>