{% load static %}

<div class="{{ classname }}">
    <div class="row">
        <div class="col-2">
            <div class="avatar"><img src="{{ question.user.avatar.url }}" alt="avatar" /></div>
            {% include 'inc/like_field.html' with item=question itemtype="question" %}
        </div>
        <div class="col-10 question-block ps-5 pb-5">
            <h3><a href="{% url 'question' id=question.id %}">{{ question.title }}</a></h3>
            <div>{{ question.text }}</div>
            <div class="row question-footer">
                {{ question.craetion_datetime }} {# TODO REMOVE #} 
                <div class="col-auto">
                    <a href="#">answer ({{ question.answers }})</a>
                </div>
                <div class="col">
                    Tags:
                    {% for tag in question.tags %}
                        {% include 'inc/tag_item.html' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
